################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ATM-Console-Basic/.vs/ATM-Console-Basic/FileContentIndex
